# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter generated
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id